<div class='large-8 large-offset-2 columns text-center'>
  <h1><%= @friend.full_name %>'s Contact Information</h1>
  <div class='panel'>
    <h3>Phone: <small> <%= @friend.phone %></small></h3>
    <h3>Address: <small><%= @friend.address %></small></h3>
  </div>
</div>
