/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 a {
  color: #aaaaaa;
  transition: color .2s, font-size .2s;
 }

 a:hover {
  color: #777777;
  font-size: 1.02em;
 }

 nav.top-bar {
  margin-bottom: 1em;
 }

 #register {
  margin-top:5em;
 }

 #checked_out_text {
  background-color: yellow;
  font-size: 1em;
  color: #AAAAAA;
  position: relative;
  right: -4.5em;
  top: -4.5em;
 }

 #checkout {
  background-color: black;
  padding: 1em;
  margin-right: 1em;
 }

 #checkout form label {
  color: white;
 }

 #checkout form input.button {
  background-color: #AAAA00;
 }

 div.available {
  background-color: #E93C20;
 }

 div.available a{
  color: white;
 }
